/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

/* One container to bind them... */
.dk_container {
}
  .dk_container a {
    width: 265px !important;
    height: 19px;
    cursor: pointer;
    text-decoration: none;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  background-image: url('../images/dk_arrows.png');
  background-repeat: no-repeat;
  background-position: 96% center;
  color: #333;
  padding: 7px 0px 7px 10px;
  text-shadow: #fff 1px 1px 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
}
  .dk_toggle:hover {
    border-color: #8c8c8c;
  }
  /* Applied when the dropdown is focused */
  .dk_focus .dk_toggle {
  }
  .dk_focus .dk_toggle {
  }

/* Applied whenever the dropdown is open */
.dk_open {
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}
  .dk_open .dk_toggle {
    color: #ccc;
    box-shadow: inset 0 -2px 5px #ccc;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
  }

/* The outer container of the options */
.dk_options {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, .2) 0 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 5px;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
}
  .dk_options a {
  }
  .dk_options li.last-child a {
    border-bottom: none;
  }

  .dk_options a:hover{
    background-color: #a3e6ff;
    color: #333333;
    text-decoration: none;
  }

  .dk_option_current a {
    background-color: #a3e6ff;
    color: #333333;
    text-decoration: none;
  }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  border-bottom-width: 2px;
  border-bottom-color: #999;
  color: #333;
  max-height: 250px;
  text-shadow: #fff 0 1px 0;
  padding: 0;
  margin: 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  float: left;
  position: relative;
}
  .dk_container a {
    outline: 0;
  }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
  }
  .dk_options_inner {
    overflow: hidden;
    position: relative;
    list-style: none;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
